<div class="container px-5 px-sm-0">
  <div class="row">
    <!--部分テンプレート-->
    <div class="col-md-3">
　　<%= render 'users/info', books: @books,user: @user %>
　　</div>
    <!--そのuserの投稿一覧-->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
      <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
      </thead>
      <% @books.each do |book| %>
        <tbody>
          <tr>
            <td>
              <%= image_tag @user.get_profile_image(40,40) %>
            </td>
            <td>
              <span><%= link_to "#{book.title}",book_path(book.id)%></span>
            </td>
            <td>
              <span><%=book.body%></span>
            </td>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
  </div>
</div>

